[submodule "EdgeML"]
	path = EdgeML
	url = https://github.com/microsoft/EdgeML.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = v4.2-beta1


	
[submodule "edge-impulse/tflite-find-arena-size"]
	path = edge-impulse/tflite-find-arena-size
	url = https://github.com/Connected-World-Tech/tflite-find-arena-size.git
[submodule "templates/esp32/esp-idf-generic-cmake/components/tfmicro/gemmlowp"]
	path = templates/esp32/esp-idf-generic-cmake/components/tfmicro/gemmlowp
	url = https://github.com/google/gemmlowp
[submodule "templates/esp32/esp-idf-generic-cmake/components/tfmicro/flatbuffers"]
	path = templates/esp32/esp-idf-generic-cmake/components/tfmicro/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "edge-impulse/components/edge-impulse-ingestion-sdk-c"]
	path = edge-impulse/components/edge-impulse-ingestion-sdk-c
	url = https://github.com/Connected-World-Tech/esp32-edge-impulse-ingestion-sdk-c
